body{
	font-family: 'Rubik', sans-serif;
	color: #000;
}

#container{
	width:800px;
	margin:50px auto;
	padding: 20px;
	width:50%;
}


#quoteContainer{
  font-family: 'Rubik', cursive;
  font-size: 135%;
	width:75%;
	padding:10px;
	margin:30px auto;
	text-align: center;
  height:120px;
}

#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid #46b8da;
	color:#045;
	font-family: inherit;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
}

#quoteButton:hover{
	cursor:pointer;
	background:#09c;
	color: #fff;	
}

#quoteButton{
	display: inline-block;
}
#quoteGenius{
	font-style: bold;
	font-weight: 600;
	text-align: center;
}

